<h1>Admin::Items#edit</h1>

<h4>商品編集</h4>

<%= form_with model: [:admin, @item] do |f| %>
<li>商品画像
  <%= f.file_field :image, accept: 'image/*' %></li>
<li>商品名
  <%= f.text_field :name %></li>
<li>商品説明
  <%= f.text_area :introduction %></li>
<li>ジャンル
  <%= f.collection_select :genre_id, Genre.all, :id, :name %></li>
<li>税抜価格
  <%= f.number_field :price %>円</li>
<li>販売ステータス
  <%= f.radio_button :is_active, true %><%= f.label :is_active_1, "販売中" %>
  <%= f.radio_button :is_active, false %><%= f.label :is_active_2, "販売停止中" %></li>

  <%= f.submit '変更を保存' %>
<% end %>


