<div class="container">
  <div class="row">
    <h4 class="d-flex align-items-center m-5" style="background-color: #EEEEEE;">管理者ログイン</h4>
  </div>

  <div class="row">
    <table class="d-flex align-items-center justify-content-center my-auto mx-auto" style="height:300px;">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <tr>
        <div class="field">
          <td>メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td>パスワード</td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </div>
      </tr>
      <tr>
        <td></td>
        <td><div class="actions pt-4">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div></td>
      </tr>
      <% end %>
    </table>

<%= render "admin/shared/links" %>

  </div>
</div>



