<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <h4 class="d-flex align-items-center m-4" style="background-color: #EEEEEE;">配送先編集</h4>
  </div>

<%= form_with model: [:public,@address] do |f| %>
<div class="row m-3">
  <span class="col-sm-3 offset-sm-1">郵便番号（ハイフンなし）</span>
  <span class="col-sm-auto"><%= f.text_field :postal_code %></span>
</div>
<div class="row m-3">
  <span class="col-sm-3 offset-sm-1">住所</span>
  <span class="col-sm-auto"><%= f.text_field :address %></span>
</div>
<div class="row m-3">
  <span class="col-sm-3 offset-sm-1">宛名</span>
  <span class="col-sm-auto"><%= f.text_field :name %></span>
  <span class="offset-sm-2"><%= f.submit '変更内容を保存', class: "btn btn-success" %></span>
</div>
<% end %>

</div>

