<div class="container">
  <div class="row">
    <div class="col-1"></div>
      <h4 class="d-flex align-items-center m-4" style="background-color: #EEEEEE;">会員情報編集</h4>
  </div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<table class="table table-borderless">
  <tr>
    <td class="col-2"></td>
    <td class="col-2 offset-3"></td>
    <td class="offset-5"></td>
  </tr>
  <tr class="field">
    <td>氏名</td>
    <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
    <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></td>
  </tr>
  <tr class="field">
    <td>フリガナ</td>
    <td><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %></td>
    <td><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td class="range-5"><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= f.telephone_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>
  <tr class="actions">
    <td colspan="1"></td>
    <td><%= f.submit "編集内容を保存", class: "btn btn-success" %></td>
    <td></td>
    <td><%= link_to "退会する", public_check_path, class: "btn btn-danger" %></td>
  </tr>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

</table>
<% end %>
</div>

<!--<h3>Cancel my account</h3>-->

<!--<p>Unhappy? <a%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

<!--<a%= link_to "Back", public_mypage_path %>-->
